<div class="container">
    <h2>Expertní board</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="/img/board/bezouska.jpg" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            JUDr. Petr Bezouška, Ph.D.
                        </h2>
                        <p>
                            Petr Bezouška vystudoval Fakultu právnickou Západočeské univerzity v Plzni. Od roku 2006 je
                            členem Legislativní rady vlády ČR a v letech 2010 až 2013 byl poradcem předsedy vlády ČR v
                            právních a legislativních otázkách. Od roku 2011 působí na Právnické fakultě Univerzity
                            Palackého v Olomouci. Od stejného roku působí v advokacii, specializuje se na soukromé
                            právo.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="/img/board/bouchal.jpeg" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Petr Bouchal, M.Sc.
                        </h2>
                        <p>
                            Petr Bouchal studoval politické vědy a ekonomii ve Spojených státech, Německu a Británii, je
                            absolvenem Oxfordské univerzity. Zabývá se efektivitou a integritou veřejné správy. Pracuje
                            v Londýně v nezávislém think tanku, jehož posláním je zlepšovat efektivitu státní správy.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <!--<img src="/img/board/bezouska.jpg" class="img-rounded img-responsive" />-->
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            JUDr. Petra Humlíčková, Ph.D.
                        </h2>
                        <p>
                            Petra Humlíčková vystudovala Právnickou fakultu Univerzity Karlovy, kde absolvovala i
                            navazující doktorském studium. Dlouhodobě se odborně zabývá českým legislativním procesem,
                            jeho teorií i praxí. Této problematice se intenzivně věnovala i v práci v o.s. Zelený kruh.
                            Absolvovala dlouhodobé studijní pobyty v Belgii, Anglii, Švédsku a Rakousku, je autorkou
                            mnoha odborných publikací a článků.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="/img/board/jansky.jpg" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Petr Janský, M.Sc.
                        </h2>
                        <p>
                            Ekonom, absolvent Univerzity Karlovy a University of Oxford. Působí jako přednášející a
                            doktorand na Institutu ekonomických studií Fakulty sociálních věd Univerzity Karlovy. Dříve
                            pracoval v soukromém, veřejném i neziskovém sektoru a pracoval pro OSN. Specializuje se na
                            veřejné finance, rozvojovou a mezinárodní ekonomii. Je spoluautorem zIndex hodnotící veřejné
                            zakázky a Financial Secrecy Index hodnotící daňové ráje. Podílí se na doporučeních NERV pro
                            konkurenceschopnost a proti korupci.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <!--<img src="/img/board/bezouska.jpg" class="img-rounded img-responsive" />-->
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Mgr. Karel Čada
                        </h2>
                        <p>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-xs-3 col-md-3 text-center">
                        <img src="/img/board/sladek.jpg" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-xs-9 col-md-9 section-box">
                        <h2>
                            Mgr. Jan Sládek
                        </h2>
                        <p>
                            Jan Sládek vystudoval sociologii na Filosofické fakultě Univerzity Karlovy. Na Katedře
                            sociologie dnes působí jako asistent, pracuje též v Sociologickém ústavu Akademie věd ČR.
                            Odborně se zabývá zvláště sociologií bydlení a sociologií internetu.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>