<div class="container">
    <h3>Proč místo odhlášení ze zákonomatu mě odhlásí z Facebooku?</h3>
    <p>Zákonomat stojí na uživatelských datech z Facebooku, proto ani nemá vlastní uživatelské účty, jen si půjčuje
        identity z Facebooku. Proto se nemůžete ani odhlásit ze svého zákonomat účtu, protože žádný takový není.</p>

    <h3>Jaký je doporučený prohlížeč?</h3>
    <p>Zákonomat je vyvíjen primárně pro Google Chrome, ale určitě by měl fungovat i na Firefoxu nebo jiném prohlížeči.
        Microsoft Internet explorer také, ale až od verze 10 výše. Podporujeme jakékoliv rozlišení obrazovky od 500px na šířku výše.</p>
    <h3>Proč se musí návrhy zákonů podávat přes github Gist?</h3>
    <p>Gisty nabízí perfektní možnosti pro úpravu a kolaboraci jako žádný jiný nástroj a mají perfektní API. Proto ho používáme.</p>
</div>
