<div class="container">
    <h2>Jak to funguje a jak se zapojit?</h2>

    <p>&nbsp;</p>
    <p dir="ltr">Netv&aacute;ř&iacute;me se, že Z&aacute;konomat bude hned fungovat bezchybně. Proto je velmi důležit&yacute; aktu&aacute;ln&iacute; Testovac&iacute; provoz, kter&yacute; uk&aacute;že, jak na&scaron;e my&scaron;lenky budou fungovat v praxi.</p>
    <p>&nbsp;</p>
    <p dir="ltr">Proto [Expertn&iacute; panel] pro něj vybral prvn&iacute;ch 10 z&aacute;konů. Pokud jsou v&aacute;m někter&eacute; z nich bl&iacute;zk&eacute;, můžete jim vyj&aacute;dřit podporu sv&yacute;m hlasem. A nejen to, n&aacute;vrh můžete okomentovat nebo zdokonalit sv&yacute;mi připom&iacute;nkami.</p>
    <p>&nbsp;</p>
    <p dir="ltr">Každ&eacute;mu projektu, kter&yacute; dos&aacute;hne 10 000 hlasů, pomůžeme na svět. Pomoc&iacute; [t&yacute;mu zku&scaron;en&yacute;ch pr&aacute;vn&iacute;ků] jej dopracujeme po pr&aacute;vn&iacute; str&aacute;nce; usilovnou prac&iacute; na&scaron;ich [Ambasadorů] kontaktujeme poslance a sen&aacute;tory, kter&eacute; se budeme snažit přesvědčit o kvalitě n&aacute;vrhu a o jeho n&aacute;sledn&eacute; podpoře. Na obdobn&eacute;m syst&eacute;mu lobbingu funguje i projekt [Rekonstrukce st&aacute;tu].</p>
    <p>&nbsp;</p>
    <p dir="ltr">T&iacute;mto způsobem ke schv&aacute;len&iacute; připrav&iacute;me prvn&iacute; z&aacute;kony a na nich odzkou&scaron;&iacute;me cel&yacute; proces. Teprve pot&eacute; chceme vytvořit syst&eacute;m, kter&yacute; umožn&iacute; každ&eacute;mu občanovi navrhovat vlastn&iacute; podobu nov&yacute;ch z&aacute;konů a nechat o nich hlasovat.</p>
    <p>&nbsp;</p>
    <h3>Na&scaron;e vize</h3>
    <p dir="ltr">V&iacute;te, že v ČR může předkl&aacute;dat n&aacute;vrh z&aacute;konů pouze 971 lid&iacute;? To je jen 0,01 % voličů. Pravomoc navrhnout z&aacute;kon maj&iacute; jen poslanci, Sen&aacute;t, vl&aacute;da a kraje. Tak&eacute; se v&aacute;m zd&aacute;, že je to nějak m&aacute;lo?</p>
    <p>&nbsp;</p>
    <p dir="ltr">Proto vznikl Z&aacute;konomat. Jeho hlavn&iacute;m &uacute;kolem je bořit hranice mezi občanem a politikem. Vždyť někdo rozum&iacute; něčemu l&eacute;pe a druh&yacute; zase hůře. Lid&eacute;, kteř&iacute; s dan&yacute;m t&eacute;matem pracuj&iacute; v praxi, maj&iacute; mnohem &scaron;ir&scaron;&iacute; přehled o tom, kde vznikaj&iacute; mezery a co je potřeba upravit. Nemaj&iacute; ale možnost nic změnit. Pojďte se pokusit to s n&aacute;mi změnit.</p>
    <p dir="ltr">Existuje mnoho dobr&yacute;ch n&aacute;padů, jak zlep&scaron;it pravidla pro společn&yacute; st&aacute;t. Je to přece n&aacute;&scaron; st&aacute;t. Proto bychom měli m&iacute;t možnost pod&iacute;let se společně na jeho chodu. Je třeba zm&iacute;nit, že pokud se na pravidlech budeme pod&iacute;let v&scaron;ichni, bude jednodu&scaron;&scaron;&iacute; je dodržovat. <br class="kix-line-break" />I jedno kliknut&iacute; může změnit mnoho&hellip;</p>
    <p>&nbsp;</p>

    <h3>Expertn&iacute; panel</h3>
    <p dir="ltr">Expertn&iacute; panel Z&aacute;konomatu v r&aacute;mci [Testovac&iacute;ho provozu] vybral prvn&iacute;ch 10 z&aacute;konů, pro kter&eacute; může hlasovat kdokoliv. Panel reprezentuj&iacute; odborn&iacute;ci různ&yacute;ch profes&iacute;.</p>
    <p>&nbsp;</p>
    <h3 dir="ltr">Ambasadoři</h3>
    <p dir="ltr">T&yacute;m dobrovoln&iacute;ků, kteř&iacute; hledaj&iacute; podporu např&iacute;č politick&yacute;m spektrem pro ž&aacute;dan&eacute; z&aacute;kony. Přidat se můžete i vy, napi&scaron;te n&aacute;m.</p>
    <p>&nbsp;</p>
    <h3 dir="ltr">Na&scaron;i pr&aacute;vn&iacute;ci</h3>
    <p dir="ltr">Z n&aacute;vrhů z&aacute;konů je třeba nejprve udělat strukturalizovan&yacute; pr&aacute;vn&iacute; dokument - podklad pro samotn&yacute; z&aacute;kon. Na&scaron;i pr&aacute;vn&iacute;ci jsou tu přesně od toho.</p>
    <p><br /><br /></p>

    <h3>Jinde to už funguje!</h3>
    <p dir="ltr">Nejsme tak &uacute;pln&iacute; sn&iacute;lci. Jsme si vědomi, že je to odv&aacute;žn&yacute; projekt. Ale nen&iacute; nemožn&yacute;.</p>
    <p dir="ltr">Na finsk&yacute; zač&iacute;naj&iacute;c&iacute; projekt <a href="https://www.avoinministerio.fi/">Avoin Ministeri&ouml;</a> (v překladu Otevřen&eacute; ministerstvo) bylo nahl&iacute;ženo tak&eacute; se skeps&iacute;. Netrvalo dlouho a projekt se lidem tak zal&iacute;bil, že již mnoho n&aacute;vrhů z&iacute;skalo svou podporu. Obdobn&yacute; estonsk&yacute; projekt <a href="https://www.rahvakogu.ee">Rahvakogu</a> (V cel&eacute; zemi) sklidil podobn&eacute; nad&scaron;en&iacute; a velmi rychle se stal prostředn&iacute;kem mezi lidmi a politiky. Ani Loty&scaron;sko nezůstalo pozadu se sv&yacute;m <a href="http://manabalss.lv/">Manabalss </a>(Můj hlas). Pod&iacute;lejte se s n&aacute;mi na struktuře na&scaron;e st&aacute;tu!</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
