<div class="container">
    <h2>NABÍDKA UNIKÁTNÍ STÁŽE</h2>
    <h3>HLEDÁME STÁŽISTY - STUDENTY PRÁV:</h3>
    <ul>
        <li>kteří mohou projektu věnovat alespoň 10 hodin měsíčně</li>
        <li>schopné provést rešerši legislativního řešení zadaného problému v zahraničí a názorů na právní úpravu v tuzemsku</li>
        <li>schopné kvalitně pracovat s textem</li>

    </ul>

    <h3>NABÍZÍME:</h3>
    <ul>
        <li>Spolupráci na společensky prospěšném a inovativním start-upu</li>
        <li>Osvědčení o absolvované stáži v české a anglické verzi</li>
        <li>Referenci na LinkedIn v české a anglické verzi</li>
        <li>Práci na dálku s volným režimem</li>
    </ul>

    <h3>KONTAKT:</h3>
    <a href="mailto:ludmila.sirkova@gmail.com">Ludmila Sirková</a>, koordinátorka stáží

</div>