<div class="container">
    <h2>Podporují nás</h2>

    <p>
        „Na Zákonomatu se mi líbí, že kombinuje náročné aspirace s pokorou. Na jedné straně se snaží do vytváření zákonů zapojit širokou veřejnost a vytvořit kanál mezi občany a parlamentem, který dnes legislativnímu procesu chybí. Na straně druhé však respektuje, že tvorba zákonů je odborná činnost, a proto počítá s tím, že každý návrh musí být nejprve „vyladěn“, nejlépe za účasti kvalifikovaných právníků. Tahle kombinace z něj podle mne dělá užitečný a životaschopný projekt.“
    </p>
    <span class="pull-right">
        JUDr. PhDr. Marek Antoš, Ph.D.
        Ústavní právník PF UK a internetový podnikatel
    </span>
    <hr/>
    <p>
        "Dobré vládnutí předpokládá dobré zákony. Se zákony se dennodenně potýkají nejen právníci, ale i ředitelé škol, doktoři, sociální pracovníci ... a samozřejmě i všichni ostatní občané. Na vlastní kůži zažívají chybějící, neúplnou či nejasnou legislativu. Proto velmi vítám tuto iniciativu. Nic samozřejmě nemůže nahradit dobře fungující legislativní proces. Projekt jako je tento, ale může aspoň malým dílem přispět k identifikaci potřebných legislativních změn. Především pak může pomoci otevřít a kultivovat veřejnou debatu a ukázat, že právo není jen "technická věc" pro "zasvěcené", ale že se bytostně dotýká nás všech."
    </p>
     <span class="pull-right">
        Doc. PhDr. Arnošt Veselý, PhD.
        vedoucí Katedry veřejné a sociální politiky
        Fakulta socialních věd
        Univerzita Karlova
    </span>
    <hr/>
</div>