<div mr-controller="novelsCtrl" mr-backend="znmt" mr-models="novel,novelVote">
    <div ng-repeat="novel in LQ.docs" class="listed-vote">

        <h3 ng-bind="novel.title"></h3>
        <div ng-bind-html="novel.content"></div>
        <a ng-href="{{ novel.current_law_link }}">Nynější znění zákona</a>
        <div class="novel-voting">
            <h4>hlasy</h4>

            Pro: <span class="positive_vote_count" ng-bind="novel.vote_count.positive"></span>
            <div class="btn-group btn-group-lg">
                <buttton ng-click="voteOnNovel(novel, true)" class="btn btn-extralg btn-primary"><i class="glyphicon glyphicon-thumbs-up glyph-big"></i></buttton>
                <buttton ng-click="voteOnNovel(novel, false)" class="btn btn-extralg btn-danger"><i class="glyphicon glyphicon-thumbs-down glyph-big"></i></buttton>

            </div>
            Proti: <span class="negative_vote_count" ng-bind="novel.vote_count.negative"></span>
        </div>



        Celkem: <span ng-bind="novel.votes.length"></span>

    </div>
    <a href="/novyNavrh" class="new-novel-link">
        <i class="glyphicon glyphicon-plus-sign glyph-big"></i><span> přidat návrh změny zákona</span>
    </a>
</div>
