<div mr-controller="novelEditCtrl" mr-backend="znmt" mr-models="novel">
    <h2>Váš návrh</h2>

    <form>
        <input type="text" ng-model="novel.title" placeholder="Titulek" class="form-control">
        <input type="url" name="input" ng-model="novel.current_law_link" placeholder="link na aktuální znění" class="form-control">
        <div>
            <text-angular ng-model="novel.content"/>
        </div>
        <div class="form-control">
            <button ng-click="create()" class="btn btn-primary">Přidat návrh</button>
        </div>
        <div class="alert alert-danger alert-dismissable" ng-show="lastError">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span ng-bind="lastError"></span>
        </div>
    </form>

</div>
