<div mr-controller="profileCtrl" mr-backend="znmt" mr-models="user,novelVote" class="jumbotron">
    <button class="btn btn-danger pull-right" ng-click="logout()">Odhlásit se z facebooku</button>

    <div class="well well-lg">
        <img ng-src="{{ profile().fb.picture.data.url }}" class="fb-picture pull-left">
        <h2>uživatel {{ getFullName() }}</h2>
        <p class="user-details">
            Email: <span ng-bind="profile().fb.email"></span> <br/>
            Datum nar.: <span ng-bind="profile().fb.birthday"></span> <br/>
            Registrace: <span ng-bind="profile().creation_date"></span> <br/>
            Hlasoval celkem: <span ng-bind="voteCountLQ.count"></span> <br/>
            Hlasů pro: <span ng-bind="positiveVoteCountLQ.count"></span> <br/>
            Hlasů proti: <span ng-bind="negativeVoteCountLQ.count"></span>

        </p>
        <div class="well">
            <h5>Nastavení</h5>
            <span title="odškrtnutím docílíte, že aplikace nebude vůbec publikovat na vaši zeď">Publikovat aktivitu na facebooku </span>
            <input type="checkbox" ng-checked="profile().settings.fb_publish">
        </div>


        <br/>
    </div>
    <div class="well well-lg">
        <h4>Vaše hlasy: </h4>
        <zn-vote ng-repeat="vote in votesLQ.docs" vote="vote"></zn-vote>
    </div>

</div>