<div mr-controller="profileCtrl" mr-backend="znmt" mr-models="user,novelVote">
    <button class="btn btn-danger pull-right" ng-click="logout()">Odhlásit se</button>
    <img ng-src="{{ profile().fb.picture.data.url }}">
    <h2>uživatel {{ getFullName() }}</h2>
    <p class="user-details">
        Email: <span ng-bind="profile().fb.email"></span> <br/>
        Datum nar.: <span ng-bind="profile().fb.birthday"></span> <br/>
        Registrace: <span ng-bind="profile().creation_date"></span> <br/>
        Hlasoval celkem: <span ng-bind="profile().novel_votes.length"></span> <br/>
        Hlasů pro: <span ng-bind="profile().vote_count.positive"></span> <br/>
        Hlasů proti: <span ng-bind="profile().vote_count.negative"></span>

    </p>

    <br/>
    <h4>jeho hlasy: </h4>
    <div class="well" ng-repeat="vote in vsLQ.docs">

    </div>
</div>