<div mr-controller="profileCtrl" mr-backend="znmt" mr-models="user,novelVote">
    <button class="btn btn-danger pull-right" ng-click="logout()">Odhlásit se</button>
    <img ng-src="{{ profile().fb.picture.data.url }}">
    <h2>uživatel {{ getFullName() }}</h2>
    Datum nar.: <span ng-bind="profile().fb.birthday"></span>
    Registrace: <span ng-bind="profile().creation_date"></span>
    Hlasoval celkem: <span ng-bind="profile().vote_count"></span>
    Hlasů pro: <span ng-bind="profile().positive_vote_count"></span>
    Hlasů proti: <span ng-bind="profile().negative_vote_count"></span>

    <br/>
    <span>jeho hlasy: </span>
    <div class="well" ng-repeat="vote in vsLQ.docs">

    </div>
</div>