<div class="starter-template container" ng-controller="rootCtrl">
    <div class="jumbotron">
        <div class="container">
            <h1>Zákonomat</h1>
            <p>
                "Zákony smí v Česku navrhovat jen 971 lidí, tj. 0,01 % voličů. Proč? Vždyť zajímavé ideje nepřicházejí spolu s mandátem! Poslance nechme rozhodovat, nápady sbírejme od všech.
            </p>
            <blockquote>
                Zákonomat - síla hlasu
            </blockquote>
            <p><a class="btn btn-primary btn-lg" role="button">FB stránka</a></p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Proč potřebujeme Zákonomat?</h2>

                <p>
                    Článek 41 Ústavy České republiky říká, že návrh zákona může podat poslanec, skupina poslanců, Senát,
                    vláda nebo zastupitelstvo vyššího územního samosprávného celku (čili kraje). To je v zastupitelské
                    demokracii normální a nikoho to patrně nepobouří. Má nám to ale v éře, ve které velké firmy
                    konzultují své nápady s lidmi z davu (odtud anglický výraz crowdsourcing) a kdy nejvyužívanějším
                    zdrojem odborných informací na světě je internetová encyklopedie Wikipedie, vůbec stačit?

                </p>
                <p><a class="btn btn-default" role="button" ng-click="whyWeNeedDialog()">Více</a></p>

            </div>
            <div class="col-md-4">
                <h2>Zákonomat v praxi</h2>
                <p>
                <p dir="ltr">Ve <a href="http://openministry.info/">Finsku</a>, <a href="https://www.rahvakogu.ee/">Estonsku</a> nebo <a href="http://manabalss.lv/">Loty&scaron;sku</a> na to už při&scaron;li. Sc&eacute;n&aacute;ř byl typick&yacute;: s n&aacute;padem n&aacute;vrhů z&aacute;konů &ldquo;zdola&rdquo; při&scaron;li sami občan&eacute; a skrze svůj n&aacute;stroj si ho protlačili jako st&aacute;tem přij&iacute;manou možnost participace. V Loty&scaron;sku web ManaBalss.lv (&ldquo;Můj hlas&rdquo;) použila již cel&aacute; třetina obyvatelstva. Jak služba funguje, popisuje <a href="http://goo.gl/6gAZJ">stručn&eacute; video s česk&yacute;mi titulky</a>.</p>
                </p>
             </div>
            <div class="col-md-4">
                <h2>Jaký společenský problém řeší?</h2>
                <ol>
                    <li>
                        "Zabetonovanost" některých zákonů v legislativním procesu - řada užitečných norem je tzv. "zaparkována" a čeká na hrdinu, který je předloží znovu; právě tomu má Zákonomat pomoct (návrh předloží občané)
                    </li>
                    <li>
                        Nízkou občanskou angažovanost
                    </li>
                    <li>
                        Prakticky nefungující nástroj autentizace občana v elektronické komunikaci se státní správou a samosprávou (datové schránky, které má asi 50 000 lidí, nelze brát vážně)
                    </li>
                </ol>
                <p>
                </p>
            </div>
        </div>

        <hr>

    </div>
</div>
