<div mr-controller="userDetailCtrl" mr-backend="znmt" mr-models="user,novelVote,novel,comment" class="container">

    <button class="btn btn-danger pull-right" ng-click="deleteCurrentQuery()">hledat jiného</button>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-1">
                <img ng-src="{{ aUserLQ.doc.fb.picture.data.url }}" ng-show="aUserLQ.doc.fb">
            </div>
            <div class="col-md-6">
                <h2>uživatel {{ aUserLQ.doc.fb.first_name + ' ' + aUserLQ.doc.fb.last_name }}<input type="text" ng-model="userSearch" ng-hide="aUserLQ.doc.fb"></h2>
                <p class="user-details">
                    Email: <span ng-bind="aUserLQ.doc.fb.email"></span> <br/>
                    Datum nar.: <span ng-bind="aUserLQ.doc.fb.birthday"></span> <br/>
                    Registrace: <span ng-bind="formatDate(aUserLQ.doc.creation_date)"></span> <br/>
                    Hlasoval celkem: <span ng-bind="voteCountLQ.count"></span> <br/>
                    Hlasů pro: <span ng-bind="positiveVoteCountLQ.count"></span> <br/>
                    Hlasů proti: <span ng-bind="negativeVoteCountLQ.count"></span>

                </p>
            </div>
            <div class="col-md-5">
                <div ng-if="isAdmin">
                    <label title="You can change it for other, because you have admin privileges">Privilege level:
                        <input type="number" ng-model="aUserLQ.doc.privilige_level" ng-blur="saveUser()"></label>
                </div>
            </div>
        </div>


        <br/>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>jeho hlasy: </h4></div>
            <div class="panel-body">
                <zn-vote ng-repeat="vote in votesLQ.docs" vote="vote"></zn-vote>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>jeho návrhy: </h4></div>
            <div class="panel-body">
                <zn-novel ng-repeat="novel in novelsLQ.docs" novel="novel"></zn-novel>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>jeho komentáře: </h4></div>
        <div class="panel-body">
            <zn-comment ng-repeat="comment in commentsLQ.docs" comment="comment"></zn-comment>
        </div>
    </div>
</div>