<div mr-controller="userDetailCtrl" mr-backend="znmt" mr-models="user,novelVote">

    <button class="btn btn-danger pull-right" ng-click="deleteCurrentQuery()">hledat jiného</button>


    <div>
        <img ng-src="{{ user().fb.picture.data.url }}" ng-show="user().fb">
        <h2>uživatel {{ user().fb.first_name + ' ' + user().fb.last_name }}<input type="text" ng-model="userSearch" ng-hide="user().fb"></h2>
        <p class="user-details">
            Email: <span ng-bind="user().fb.email"></span> <br/>
            Datum nar.: <span ng-bind="user().fb.birthday"></span> <br/>
            Registrace: <span ng-bind="user().creation_date"></span> <br/>
            Hlasoval celkem: <span ng-bind="voteCountLQ.count"></span> <br/>
            Hlasů pro: <span ng-bind="positiveVoteCountLQ.count"></span> <br/>
            Hlasů proti: <span ng-bind="negativeVoteCountLQ.count"></span>

        </p>

        <br/>
        <h4>jeho hlasy: </h4>
        <zn-vote ng-repeat="vote in votesLQ.docs" vote="vote"></zn-vote>
    </div>

</div>