<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
    <p>Nemá nám to stačit: Není totiž prokázáno, že by lidé, kterým Ústava dává právo zákonodárné
        iniciativy, byli jednoznačně nejvíce kompetentní. Zkušenější a vzdělanější lidé často pracují na
        univerzitách, v podnicích nebo neziskovém sektoru. My všichni tak přicházíme o jejich potenciálně
        dobré nápady na to, jak zlepšit pravidla pro společný stát. A nejde jen o to: Netřeba složitě
        vysvětlovat, že ti, kteří se na tvorbě pravidel podílejí, jsou ochotnější je respektovat. Takový
        dopad není v době obecného úpadku zájmu o věci veřejné zanedbatelný.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="dialog.close()">Zavřít</button>
</div>