zn-comment{
  display: block;
  &.collapsed{
    height: 27px;
    overflow: hidden;
  }
  .well{
    margin-bottom: 6px;
  }
  .well-sm{
    padding-bottom: 0px;
  }
  .comment-body{
    width: 97.4%;
    @media (max-width: 992px) {
      padding-top: 10px;
    }
    &:hover{
      .comment-date:nth-child(2){
        right: 17px;
        top: -36px;
      }
    }
  }
  .comment-voting{
    border-radius: 5px;
    @media (min-width: 992px) {
      width: 2%;
    }
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    &.positive{
      background-color: @positive-bg-color;
    }

    &.negative{
      background-color: @negative-bg-color;
    }

    &.neutral{
      background-color: @neutral-bg-color;
    }

    .fa-arrow-up.voted{
      color: green;
    }
    .fa-arrow-down.voted{
      color: red;
    }

  }
  .btn-xs{
    padding: 2px 17px;
    font-size: 10px;
    line-height: 1.4;
    border-radius: 2px;
  }

  .comment-meta-info{
    top: 2px;
    @media (min-width: 992px) {
      top: -9px;
    }
  }

  .comment-date{
    position: absolute;
    right: 17px;
    .comment-meta-info();
    background-color: #c0c0c0;
  }
  .karma-count{
    position: absolute;
    .comment-meta-info();
    background-color: #c0c0c0;
    padding: 0px 10px;
    span{
      font-weight: 700;
    }
  }

  .comment-text{
    display: block;
    margin-top: 12px;
    min-height: 20px;
  }
  .profile-picture{
    height: 24px;
    position: relative;
  }
  .comment-replies{
    width: 95.9%;
  }
  .comment-info{
    float: right;
  }

  .replies{
    width: 100%;
  }
}