zn-novel{
  display: block;
  margin-top: 15px;
  .panel-heading{
    background-color: green;
    .novel-heading{
      width: 70%;
    }

  }
  .novel-votes-statistic{
    text-align: center;
  }
  .page-header{
    h1{
      small{
        margin-top: 25px;
      }
    }
  }

  .voter-icon{
    img{
      margin: 2px;
    }
  }
  .row{
    .col-md-4.active{
      font-weight: 600;
    }
  }

  .panel-footer{
    overflow: hidden;
    .novel-author{
      float: left;
      width: 49.9%;
    }
    .novel-register-to-vote, .novel-vote-casted{
      float: right;
      width: 49.9%;

    }

    .novel-vote-cast {
      float: right;
      text-align: right;
      width: 49.9%;
      margin-top: 15px;
      .btn-group{
        width: 100%;
        .btn{
          width: 50%;
        }
      }
      h4{
        text-align: center;
      }
      .btn-yay{
        .button-variant(rgba(255, 255, 255, 1), rgba(0, 217, 26, 0.65), rgb(167, 167, 167));
      }
      .btn-nay{
        .button-variant(rgba(255, 255, 255, 1), rgba(217, 0, 34, 0.65), rgb(167, 167, 167));
      }
    }
  }
}