zn-vote{


  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:1;


  &.ng-hide {
    opacity:0;
  }

  &.ng-hide-add, &.ng-hide-remove {
    /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */
    display:block!important;
  }

  a{
    font-size: 16px;
  }
  .well-sm{
    padding: 0px;
    padding-left: 10px;
    border-radius: 3px;
    &.positive{
      background-color: @positive-bg-color;
    }
    &.negative{
      background-color: @negative-bg-color;
    }
  }
  .pull-right{
    margin-right: 15px;
  }
  span[am-time-ago]{
    font-size: 12px;
  }

}