zn-vote{
  a{
    font-size: 16px;
  }
  .well-sm{
    padding: 0px;
    padding-left: 10px;
    border-radius: 3px;
    &.positive{
      background-color: rgba(0, 176, 0, 0.1);
    }
    &.negative{
      background-color: rgba(176, 0, 0, 0.1);
    }
  }
  .pull-right{
    margin-right: 15px;
  }
  span[am-time-ago]{
    font-size: 9px;
  }

}