zn-vote{
  a{
    font-size: 16px;
  }
  .well-sm{
    padding: 0px;
    padding-left: 10px;
    border-radius: 3px;
    &.positive{
      background-color: @positive-bg-color;
    }
    &.negative{
      background-color: @negative-bg-color;
    }
  }
  .pull-right{
    margin-right: 15px;
  }
  span[am-time-ago]{
    font-size: 12px;
  }

}