footer{
  font-size: 8px;
  text-align: center;
}

.navbar-collapse{
  .current{
    background-color: @znmt-primary;
    color: #000000 !important;
  }
}

.social-bar div a{
  color: @znmt-primary !important;
}