.new-novel-link{
  i{
    width: 50px !important;
  }
  span{
    position: relative;
    top: -20px;
  }
}

.novel-voting{
  float: right;
  h4{
    text-align: center;
  }
}

.page-header{
  h1{
    small{
      margin-top: 25px;
    }
  }
}