ng-view{
  display: block;
  overflow: visible;
  margin-top: 70px;
}

.jumbotron{
  blockquote{
    padding-bottom: 0px;
  }

  .btn-primary{
    font-size: 40px;

      padding-top: 18px;

  }
}

#zakonomat-logo{
  float: left;
  position: relative;
  top: 10px;
  right: 11px;
  height: 30px;
}

.social-icon{
  img{
    height: 60px;
  }
  &.tumblr img{
    height: 55px;
    position: relative;
    top: 2px;
  }
}