@import "loader";
@import "index";
@import "user";
@import "profile";
@import "votes";
@import "novels";
@import "novel-detail";

ng-view{
  display: block;
  overflow: visible;
  margin-top: 70px;
}

.navbar-brand{
  padding-left: 30px;
}

.jumbotron{
  blockquote{
    padding-bottom: 0px;
  }
  @media (min-width: 460px) {
    .btn-primary{
      font-size: 40px;
      padding-top: 18px;
    }
  }

}
@media (min-width: 550px) {
  .jumbo-logo{
    height: 90px;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .jumbo-logo{
    width: 100%;
    margin-bottom: 10px;
  }
}


#zakonomat-logo{
  float: left;
  position: relative;
  top: 10px;
  right: 11px;
  height: 30px;
}

#auth-status{
  position: relative;
  top: -6px;
}

.social-icon{
  img{
    height: 60px;
  }
  &.tumblr img{
    height: 55px;
    position: relative;
    top: 2px;
  }
}

@media (min-width: 768px) {
  .navbar {
    height: 50px;
  }
}


footer{
  padding-top: 100px;
}
