<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-times-circle fa-2x pull-right" ng-click="remove()" ng-hide="!remove"></i>
        <div class="novel-heading">
            <a href="/navrh?_id={{ novel._id }}"><h3><span ng-bind="novel.title"></span></h3></a>
        </div>
    </div>
    <div class="panel-body" ng-show="show == 'all' || show == 'summary'">
        <div ng-bind-html="novel.summary"></div>
    </div>

    <div class="panel-body" ng-show="show == 'all' || show == 'content'">
        <div ng-bind-html="novel.content"></div>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a target="_blank" ng-href="{{ novel.current_law_link }}">Nynější znění zákona</a><br/></li>
        <li class="list-group-item">
            <div class="novel-votes-statistic">
                <div class="row">
                    <div class="col-md-3" ng-class="{active: commentsExpanded}">
                        <a href="/komentare?subject={{ novel._id }}&value=false">Komentáře: <span ng-bind="commentsLQ.count"></span></a>
                        <i class="fa fa-chevron-down" ng-click="expandComments(true)" ng-hide="commentsExpanded"></i>
                        <i class="fa fa-chevron-up" ng-click="expandComments(false)" ng-show="commentsExpanded"></i>
                    </div>
                    <div class="col-md-3" ng-class="{active: overallVotesExpanded}">
                        <a href="/hlasy?subject={{ novel._id }}">Celkem hlasů: <span ng-bind="novel.vote_count.sum"></span></a>
                        <i class="fa fa-chevron-down" ng-click="expandOverallVotes(true)" ng-hide="overallVotesExpanded"></i>
                        <i class="fa fa-chevron-up" ng-click="expandOverallVotes(false)" ng-show="overallVotesExpanded"></i>
                    </div>
                    <div class="col-md-3" ng-class="{active: positiveVotesExpanded}">
                        <a href="/hlasy?subject={{ novel._id }}&value=true">Pro: <span ng-bind="novel.vote_count.positive"></span></a>
                        <i class="fa fa-chevron-down" ng-click="expandPositiveVotes(true)" ng-hide="positiveVotesExpanded"></i>
                        <i class="fa fa-chevron-up" ng-click="expandPositiveVotes(false)" ng-show="positiveVotesExpanded"></i>
                    </div>
                    <div class="col-md-3" ng-class="{active: negativeVotesExpanded}">
                        <a href="/hlasy?subject={{ novel._id }}&value=false">Proti: <span ng-bind="novel.vote_count.negative"></span></a>
                        <i class="fa fa-chevron-down" ng-click="expandNegativeVotes(true)" ng-hide="negativeVotesExpanded"></i>
                        <i class="fa fa-chevron-up" ng-click="expandNegativeVotes(false)" ng-show="negativeVotesExpanded"></i>
                    </div>

                </div>

            </div>

        </li>
        <li class="list-group-item showed-votes" ng-show="showedVotes">
            <a href="/uzivatel?username={{ vote.owner.fb.username }}" class="voter-icon" ng-repeat="vote in showedVotes.docs"
                    title="{{ vote.creation_date | amCalendar}}">
                <img ng-src="{{ vote.owner.fb.picture.data.url }}">
            </a>
        </li>

    </ul>

    <div class="panel-footer">
        <div class="novel-author">
            <h5>Autor:</h5>
            <a href="/uzivatel?username={{ owner.fb.username }}" class="author-link">
                <img ng-src="{{ owner.fb.picture.data.url }}">  {{ owner.fb.username }}
            </a><br/>
        </div>

        <div class="novel-vote-cast" ng-hide="currentVoteLQ.doc || isAnon">

            <div class="btn-group btn-group-lg btn-group-lg">
                <buttton ng-click="voteOnNovel(novel, true)" class="btn btn-yay"><i
                        class="glyphicon glyphicon-thumbs-up"></i></buttton>
                <buttton ng-click="voteOnNovel(novel, false)" class="btn btn-nay"><i
                        class="glyphicon glyphicon-thumbs-down"></i></buttton>

            </div>

        </div>

        <div class="novel-register-to-vote" ng-show="isAnon">
                <button class="btn btn-large btn-primary pull-right fb-login" ng-click="fbLogin()">
                    Pro hlasování je nutné se přihlásit
                </button>
        </div>
        <div class="novel-vote-casted" ng-show="currentVoteLQ.doc">
            <h5>Váš hlas</h5>
            <zn-vote vote="currentVoteLQ.doc"></zn-vote>
        </div>
    </div>
</div>
