<div class="user-container well well-sm">
    <a href="/uzivatel?username={{ user.fb.username }}">
        <h2>uživatel {{ user.fb.first_name + ' ' + user.fb.last_name }}</h2>
    </a>
    <div class="row">
        <div class="col-md-1">
            <img ng-src="{{ user.fb.picture.data.url }}" ng-show="user.fb">
        </div>
        <div class="col-md-6">
            <p class="user-details">
                Email: <span ng-bind="user.fb.email"></span> <br/>
                Datum nar.: <span ng-bind="user.fb.birthday"></span> <br/>
                Registrace: <span ng-bind="formatDate(scope.user.creation_date)"></span>
            </p>
        </div>
        <div class="col-md-5">
            <a href="/hlasy?owner={{ user._id }}">Hlasoval celkem: <span ng-bind="voteCountLQ.count"></span></a><br/>
            <a href="/hlasy?owner={{ user._id }}&value=true">Hlasů pro: <span ng-bind="positiveVoteCountLQ.count"></span></a> <br/>
            <a href="/hlasy?owner={{ user._id }}&value=false">Hlasů proti: <span ng-bind="negativeVoteCountLQ.count"></span></a>
        </div>
    </div>

</div>