<div class="user-container well well-sm">
    <div class="row">
        <div class="col-md-2">
            <fb-user-picture type="normal" id="user.fb.id"/>
        </div>
        <div class="col-md-3">
            <a href="/uzivatel?username={{ user.fb.username }}">
                <h2>{{ user.fb.first_name + ' ' + user.fb.last_name }}</h2>
            </a>
            <p class="user-details">
                Registrace: <span ng-bind="registeredDate"></span><br/>
                <a class="social-icon" href="//www.facebook.com/{{ user.fb.id }}" target="_blank">
                    <img src="/img/icons/facebook.png" alt="">
                </a>
            </p>

        </div>
        <div class="col-md-4">
            <p class="user-activities">
                <a href="/komentare?owner={{ user._id }}">Komentářů: <span ng-bind="commentCountLQ.count"></span></a>
                <!--<a href="/navrhy?owner={{ user._id }}">Návrhů: <span ng-bind="novelCountLQ.count"></span></a>-->
            </p>
        </div>
        <div class="col-md-3">
            <p class="user-activities">
                <a href="/hlasy?owner={{ user._id }}">Hlasoval celkem: <span ng-bind="voteCountLQ.count"></span></a><br/>
                <a href="/hlasy?owner={{ user._id }}&value=true">Hlasů pro: <span ng-bind="positiveVoteCountLQ.count"></span></a> <br/>
                <a href="/hlasy?owner={{ user._id }}&value=false">Hlasů proti: <span ng-bind="negativeVoteCountLQ.count"></span></a>
            </p>

        </div>
    </div>

</div>